body {
    background-color    :lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cclave {
    width               : 40vw;
    padding             : 16px;
    border-radius       : 10px;
    background-color    : mintcream;
    position            : absolute;
    top                 : 15vh;
    left                : 30vw;
}

.fila {
    height              :30px;
}

.c2 {
    width               :20%;
    display             :inline;
    float               :right;
    overflow-x          :hidden;
}

.c3 {
    width               :30%;
    display             :inline;
    float               :left;
    overflow-x          :hidden;
}

.c5 {
    width               :50%;
    display             :inline;
    float               :left;
    overflow-x          :hidden;
}

.c6 {
    width               :60%;
    display             :inline;
    float               :left;
    overflow-x          :hidden;
}

.c7 {
    width               :70%;
    display             :inline;
    float               :right;
    overflow-x          :hidden;
}

input{
    width              :90%;
}

input:invalid {
    border              :1px dashed red;
}

input[type=button], input[type=submit], input[type=reset] {
    border-color        : black;
    border-width        : 2px;
    border-radius       : 4px;
    color               : whitesmoke;
    text-transform      : capitalize;
    cursor              : pointer;
    display             : inline-block;
    font-size           : 14px;
    height              : 40px;
    text-align          : center !important;
    background-color    : royalblue;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color    : orange;
    color               : black;

}

.requerido{
    color: red;
}
